<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.soraplayer">
    <uses-sdk
            android:minSdkVersion="21"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application  android:theme="@style/AppTheme">

        <!-- Music Player Receiver -->
        <receiver
                android:name=".SoraplayerPluginReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="PREVIOUS" />
                <action android:name="TOGGLE_PLAYBACK" />
                <action android:name="NEXT" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
